.numberContainer {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
}

.numberContainer > button {
    border: 3px solid #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin: 0.25rem;
    padding: 0.5rem;
    background-color: #ff0000;
    
}

.numberContainer > button:nth-child(2n+1) {
    background-color: #4b4544;
}

.numberContainer button.zero {
    grid-row: 1 / span 3; /* Span all three rows */
    grid-column: 1; /* Place in the first column */
    height: 100%;
    background-color: green;
    margin: 0.25rem;
}

.numberContainer > button:hover {
    opacity: 0.7;
    transition: 0.3s ease;
}

.numberContainer button.toggled {
    background-color: yellow;
    color: black;
}

.red {
    background-color: red;
}
.black {
    background-color: black;
}