@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
    color: #e6e6ef;
    display: flex;
    position: static;
    min-height: 100vh;
}

.sidebar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 0 0 12.5rem;  
    padding: 0.5rem 1em;
    background-color: #11121a;
    border-right: 1px solid #42434a;
    align-self: flex-start;
    justify-content: space-between;
    overflow: hidden;
    text-wrap: nowrap;
    transition: flex 300ms ease-in-out;
    position: sticky;
    top: 0;
    height: 100%;
    min-height: 100vh;
}

.sidebar.closed {
    flex: 0 0 5rem;
    transition: flex 300ms;
}

.sidebar.closed .logo,
.sidebar.closed .buttons span,
.sidebar.closed .dropdown span,
.sidebar.closed .submenu li a {
    display: none;
}

.sidebar.closed ~ .main {
    transition: all 300ms ease-in-out; /* Add this line */
}

.icon.hidden {
    display: none;
}

.logo.hidden {
    display: none;
}

.main {
    flex: 1;
    padding: 1em;
}

.list li {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}

.first {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 10px;
}

.first img {
    width: 50px;
    height: 30px;
    border-radius: 50%;
    padding: 0px;
    margin: 0px;
}

.end {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
}

.buttons {
    width: 100%;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1em;
}

.sidebar a, .dropdown, .buttons{
    border-radius: .5em;
    padding: 5px;
    color: #e6e6ef;
    display: flex;
    align-items: center;
    gap: 1em;
}

.logo {
    border-radius: .5em;
    padding: 5px;
    color: #e6e6ef;
    display: flex;
    align-items: center;
}

.dropdown {
    width: 100%;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1em;
}

.icon {
    flex-shrink: 0;
    fill: #e6e6ef;
    transition: 300ms ease; 
}

.rotate {
    rotate: 180deg;
}

.sidebar a, .dropdown a{
    flex-grow: 1;
}

.sidebar a:hover, .dropdown:hover, .buttons:hover{
    background-color: #222533;
    transition: all 300ms ease-in-out;

}

.games {
    display: flex;
    flex-direction: column;
}

.submenu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
}

.submenu div{
    overflow: hidden;
}

.submenu.show {
    grid-template-rows: 1fr;
}

.submenu li {
    padding-left: 1em;
}

.open {
    margin-left: auto;
    padding: 1em;
    background: none;
    cursor: pointer;
    border: none;
}

.open svg {
    transition: rotate 150ms ease;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 92%;
}

.Bottom {
    align-self: flex-end;
}