.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.welcome_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    min-width: 0;
}

.welcome_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;

}

.welcome_right {
    display: flex;
    justify-content: center;
    width: 50%;
}

.recommended_games {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 100px;
}