.welcome_container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.welcome_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.welcome_right {
    display: flex;
    justify-content: center;
    width: 50%;
}

.recommended_games {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 50px;
}